<a href="https://colab.research.google.com/github/Kjenis/cleaning/blob/main/data_cleaning_(movies).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [39]:
from google.colab import files
uploaded = files.upload()

In [63]:
df = pd.read_csv('movies.csv')
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [65]:
#check null values
print(df.isnull().sum())

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [66]:
#check duplicates
df.duplicated().sum()

431

### Data cleaning

In [67]:
# strip all columns to one standart (lower)
df.columns = df.columns.str.strip().str.lower()
df.columns

Index(['movies', 'year', 'genre', 'rating', 'one-line', 'stars', 'votes',
       'runtime', 'gross'],
      dtype='object')

**year**

In [68]:
df['year'][:5]

0         (2021)
1       (2021– )
2    (2010–2022)
3       (2013– )
4         (2021)
Name: year, dtype: object

In [69]:
df['year'].isna().sum()

644

In [70]:
#explore year column
df['year'].unique()

array(['(2021)', '(2021– )', '(2010–2022)', '(2013– )', '(2020– )',
       '(2006–2013)', '(2019– )', '(2016–2021)', '(2011– )', '(2005– )',
       '(2008–2013)', '(2017– )', '(2017–2021)', '(2016– )',
       '(1994–2004)', '(2014– )', '(2013–2020)', '(2015– )',
       '(2005–2020)', '(2013–2022)', '(2003– )', '(2009–2020)',
       '(I) (2018– )', '(2010–2015)', '(2011–2019)', '(2015–2020)',
       '(2005–2014)', '(2009–2015)', '(2008–2014)', '(2016–2018)',
       '(2009–2017)', '(2020)', '(2018–2021)', '(2017–2020)',
       '(1987–1994)', '(2018– )', '(2012– )', '(2014–2020)',
       '(2011–2018)', '(2005–2017)', '(2017)', '(2007–2015)',
       '(2000–2007)', '(II) (2007– )', '(1993)', '(1999–2022)',
       '(2015–2018)', '(2014–2019)', '(2016)', '(2012–2020)',
       '(2013–2019)', '(2007–2012)', '(2011–2020)', '(2010–2017)',
       '(2000–2015)', '(2015–2021)', '(2001)', '(1997– )', '(2011–2017)',
       '(1993–1999)', '(1989–1998)', '(2010–2013)', '(2010–2020)',
       '(2003–2019)', '(I) (2019)', '(2017–2019)', '(1975)',
       '(2005–2008)', '(1995–2001)', '(2006)', '(2015–2017)',
       '(2008–2020)', '(1984–1996)', '(2010– )', '(2014)', '(2000)',
       '(2013–2018)', '(2009–2016)', '(2016–2020)', '(2021 TV Special)',
       '(2003)', '(1998–2003)', '(I) (2017)', '(1966–1969)', '(2009– )',
       '(2019)', '(1990–1991)', '(2012)', '(1995)', '(2020–2021)',
       '(2013–2017)', '(2015)', '(2019–2020)', '(2017–2018)',
       '(2013–2015)', '(2012–2017)', '(I) (2013–2016)', '(2002)',
       '(I) (2020)', '(III) (2021)', '(2018)', '(II) (2016)', '(1976)',
       '(1978)', '(2016–2019)', '(2009–2014)', '(2022)', '(2011–2014)',
       '(2007–2013)', '(2006–2007)', '(2002–2007)', '(2014–2017)',
       '(2010–2019)', '(2008– )', '(2012–2019)', '(2014–2016)',
       '(2009–2012)', '(2018–2020)', '(2001–2005)', '(2011–2015)',
       '(2014–2018)', '(2015–2019)', '(1982–1993)', '(1998– )', '(1968)',
       '(2010–2018)', '(2014–2021)', '(2007–2010)', '(2011)',
       '(2013–2021)', '(1990–1996)', '(2004)', '(2007–2014)',
       '(1996–2001)', '(2013)', '(2008)', '(1999–2000)', '(2012–2014)',
       '(I) (2013)', '(2012–2018)', '(2018–2019)', '(2009–2013)',
       '(1971)', '(2004– )', '(1989)', '(1998)', '(2001–2018)',
       '(1987–1995)', '(I) (2014)', '(1998–2020)', '(I) (2015)', '(1997)',
       '(2004–2013)', '(2002– )', '(2010)', '(I) (2016)', '(II) (2017– )',
       '(I) (2018)', '(I) (2021)', '(2004–2012)', '(2019–2021)',
       '(IV) (2020)', '(2006–2010)', '(2006–2012)', '(1996)',
       '(1994–2000)', '(II) (2020)', '(1980)', '(I) (2011)',
       '(1995–1996)', '(2016–2017)', '(1993–1996)', '(II) (2019– )',
       '(2009)', '(1962)', '(1991)', '(2022– )', '(II) (2017)',
       '(I) (2012)', '(1984)', '(2011–2016)', '(2009–2019)',
       '(II) (2020– )', '(2006–2021)', '(I) (2010)', '(2012–2015)',
       '(I) (2013–2014)', '(1960)', '(1988)', '(2007)', '(1987)',
       '(2010–2011)', '(1969)', '(2006–2011)', '(II) (2019)', '(1961)',
       '(1979)', '(II) (2022)', '(2014–2015)', '(1956)', '(2013–2016)',
       '(III) (2018)', '(2005)', '(II) (2012– )', '(II) (2013)', '(1983)',
       '(2002–2019)', '(2013 TV Movie)', '(II) (2015)', '(I) (2012–2015)',
       '(1975–1979)', '(1990)', nan, '(II) (2018)', '(IV) (2021)',
       '(2015–2016)', '(1995–1998)', '(1986)', '(2012–2013)', '(1966)',
       '(2011–2012)', '(2011–2021)', '(2016 Video)', '(2017 TV Movie)',
       '(2009–2011)', '(2004–2018)', '(1967)', '(1984– )', '(1994)',
       '(2003–2006)', '(III) (2015)', '(1974)', '(2000–2004)',
       '(1984–2021)', '(I)', '(II) (2021)', '(1994–1999)', '(III)',
       '(1992)', '(1969–1974)', '(2012–2016)', '(2013–2014)',
       '(I) (2008)', '(1958)', '(2008–2009)', '(II) (2004)',
       '(III) (2019)', '(2006–2009)', '(2011–2013)', '(2007–2008)',
       '(1988–1999)', '(2010–2012)', '(2010–2014)', '(II) (2012)',
       '(1932)', '(2014 TV Movie)', '(1941)', '(2006– )', '(1992–1995)',
       '(2016 TV Special)', '(2020 TV Movie)', '(2008–2010)', '(II)',
       '(2020 Video)', '(1999– )', '(1950)', '(2020 TV Special)',
       '(1992–2014)', '(2002–2005)', '(2013 TV Special)', '(I) (2021– )',
       '(1999)', '(2016 TV Movie)', '(XII)', '(VII)', '(2021 TV Movie)',
       '(1983– )', '(1996 Video)', '(1993 TV Movie)', '(2018 TV Movie)',
       '(2005–2009)', '(2001–2002)', '(2015 TV Movie)', '(I) (2020– )',
       '(2011 Video)', '(2008 Video)', '(2012 Video)', '(1946)',
       '(II) (2014)', '(2019 Video)', '(1981–1989)', '(IV) (2016)',
       '(III) (2016)', '(2019 TV Movie)', '(1952)', '(2007 Video)',
       '(2000–2014)', '(1992– )', '(1957)', '(2003–2007)', '(IV)',
       '(2008–2017)', '(2008–2019)', '(1998–2000)', '(I) (2004)',
       '(2007–2016)', '(2017 TV Special)', '(2009 TV Movie)',
       '(2013 Video)', '(2017 Video)', '(1994–1996)', '(IV) (2017)',
       '(IV) (2018)', '(2007– )', '(1954)', '(2012 TV Movie)', '(1995– )',
       '(1982)', '(1955)', '(2014 TV Short)', '(I) (2022– )',
       '(I) (2019–2020)', '(1975 TV Movie)', '(2019 TV Special)',
       '(2015 TV Special)', '(2015 TV Short)', '(2018 TV Special)',
       '(1948)', '(2014 Video)', '(VI) (2014)', '(2003–2013)',
       '(2021 Video)', '(1947)', '(2001– )', '(II) (2021– )',
       '(1997–2000)', '(III) (2020)', '(I) (2019– )', '(1993– )',
       '(1977)', '(I) (2009)', '(V)', '(2023)', '(I) (2000)',
       '(TV Special)', '(II) (2011)', '(TV Movie)', '(1945)',
       '(2015 Video)', '(III) (2010)', '(2009 Video)', '(1998–2002)',
       '(2008 TV Movie)', '(2019 TV Short)', '(2004 Video)',
       '(II) (1998)', '(2014 TV Special)', '(1953)', '(1985)', '(VIII)',
       '(1973)', '(2012 TV Special)', '(V) (2016)', '(1972)',
       '(V) (2018)', '(II) (2010)', '(2021 TV Short)', '(VI) (2019)',
       '(I) (2005)', '(1965)', '(2010–2016)', '(V) (2010)', '(2005–2013)',
       '(2006 TV Special)', '(2006 Video)', '(2011 TV Movie)',
       '(1988 TV Movie)', '(XXIII)', '(2011 TV Special)',
       '(2020 TV Short)', '(VI) (2018)', '(2008 TV Special)',
       '(1998–1999)', '(I) (2015– )', '(III) (2012)', '(VI)',
       '(2010 TV Special)', '(III) (2017)', '(1993 TV Special)',
       '(2004–2005)', '(1992 Video)', '(1989 TV Special)', '(XI)',
       '(III) (2014)', '(1966 TV Special)', '(1999 TV Movie)',
       '(1987 TV Special)', '(1944)', '(1998 TV Special)',
       '(2006 TV Movie)', '(2022 TV Special)', '(1989 Video)',
       '(1991 TV Special)', '(XLI)', '(IV) (2014)', '(2005 Video)',
       '(2007 TV Special)', '(1965 TV Special)', '(1990 TV Special)',
       '(2001 TV Special)', '(IX)', '(II) (2016– )', '(XIV) (2017)',
       '(2009–2010)', '(XIII)', '(II) (2012–2019)', '(1933)',
       '(II) (2009)', '(2010 Video)', '(2009 TV Special)', '(1938)',
       '(2003 TV Special)', '(Video)', '(2001 TV Movie)', '(VI) (2016)',
       '(III) (2011)', '(2007 TV Movie)', '(2017 TV Short)',
       '(2018 Video)', '(2000 Video)', '(1995 Video)', '(2003 Video)',
       '(II) (2016 TV Movie)', '(1998 Video)', '(2005 TV Special)',
       '(2004–2009)', '(2018 Video Game)', '(1988– )', '(1985– )'],
      dtype=object)

In [71]:
#remove all characters and convert to int
df['year'] = df['year'].str.extract("(\d{4})", expand = False)
df['year'].unique()

array(['2021', '2010', '2013', '2020', '2006', '2019', '2016', '2011',
       '2005', '2008', '2017', '1994', '2014', '2015', '2003', '2009',
       '2018', '1987', '2012', '2007', '2000', '1993', '1999', '2001',
       '1997', '1989', '1975', '1995', '1984', '1998', '1966', '1990',
       '2002', '1976', '1978', '2022', '1982', '1968', '2004', '1996',
       '1971', '1980', '1962', '1991', '1960', '1988', '1969', '1961',
       '1979', '1956', '1983', nan, '1986', '1967', '1974', '1992',
       '1958', '1932', '1941', '1950', '1946', '1981', '1952', '1957',
       '1954', '1955', '1948', '1947', '1977', '2023', '1945', '1953',
       '1985', '1973', '1972', '1965', '1944', '1933', '1938'],
      dtype=object)

In [72]:
#change dtype from object to int
#if 'coerce', then invalid parsing will be set as NaN
df['year'] = pd.to_numeric(df['year'], errors = 'coerce')

**genre**

In [73]:
df['genre'][:5]

0        \nAction, Horror, Thriller
1    \nAnimation, Action, Adventure
2         \nDrama, Horror, Thriller
3    \nAnimation, Adventure, Comedy
4           \nAction, Crime, Horror
Name: genre, dtype: object

In [74]:
df['genre'].isna().sum()

80

In [75]:
df['genre'] = df['genre'].str.strip()
df['genre'][:5]

0        Action, Horror, Thriller
1    Animation, Action, Adventure
2         Drama, Horror, Thriller
3    Animation, Adventure, Comedy
4           Action, Crime, Horror
Name: genre, dtype: object

**rating**

In [76]:
df['rating'][:5]

0    6.1
1    5.0
2    8.2
3    9.2
4    NaN
Name: rating, dtype: float64

In [77]:
df['rating'].unique()

array([6.1, 5. , 8.2, 9.2, nan, 7.6, 6.8, 8.6, 7.9, 7.4, 6. , 8.1, 6.2,
       5.4, 8. , 7.5, 9.4, 8.3, 8.7, 8.9, 8.8, 8.5, 8.4, 6.7, 7.7, 9. ,
       5.8, 3.3, 7.8, 5.7, 6.6, 6.9, 6.5, 7.1, 5.6, 7.3, 9.1, 7.2, 6.4,
       9.3, 7. , 6.3, 3.7, 5.5, 4.6, 4.8, 5.3, 4.7, 5.9, 5.1, 4.9, 2.7,
       4.4, 3.1, 4.5, 4.2, 3.8, 5.2, 2.8, 3.5, 4.3, 3.2, 1.1, 3.9, 4. ,
       3.4, 2.6, 3.6, 3. , 2.5, 2.2, 2.9, 4.1, 2.1, 2. , 2.3, 2.4, 1.8,
       9.6, 9.5, 9.7, 9.9, 9.8])

In [78]:
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')
df['rating']

0       6.1
1       5.0
2       8.2
3       9.2
4       NaN
       ...
9994    NaN
9995    NaN
9996    NaN
9997    NaN
9998    NaN
Name: rating, Length: 9999, dtype: float64

**one-line**

In [79]:
df['one-line']

0       \nA woman with a mysterious illness is forced ...
1       \nThe war for Eternia begins again in what may...
2       \nSheriff Deputy Rick Grimes wakes up from a c...
3       \nAn animated series that follows the exploits...
4       \nA prequel, set before the events of Army of ...
                              ...
9994                                       \nAdd a Plot\n
9995                                       \nAdd a Plot\n
9996                                       \nAdd a Plot\n
9997                                       \nAdd a Plot\n
9998                                       \nAdd a Plot\n
Name: one-line, Length: 9999, dtype: object

In [80]:
df['one-line'] = df['one-line'].str.strip().replace('Add a Plot', 'Unknown').str.replace('[^\w\s]', '', regex=True)

In [81]:
df['one-line']

0       A woman with a mysterious illness is forced in...
1       The war for Eternia begins again in what may b...
2       Sheriff Deputy Rick Grimes wakes up from a com...
3       An animated series that follows the exploits o...
4       A prequel set before the events of Army of the...
                              ...
9994                                              Unknown
9995                                              Unknown
9996                                              Unknown
9997                                              Unknown
9998                                              Unknown
Name: one-line, Length: 9999, dtype: object

**stars**

In [82]:
df['stars']

0       \n    Director:\nPeter Thorwarth\n| \n    Star...
1       \n            \n    Stars:\nChris Wood, \nSara...
2       \n            \n    Stars:\nAndrew Lincoln, \n...
3       \n            \n    Stars:\nJustin Roiland, \n...
4       \n    Director:\nMatthias Schweighöfer\n| \n  ...
                              ...
9994    \n            \n    Stars:\nMorgan Taylor Camp...
9995                                                   \n
9996    \n    Director:\nOrlando von Einsiedel\n| \n  ...
9997    \n    Director:\nJovanka Vuckovic\n| \n    Sta...
9998    \n    Director:\nJovanka Vuckovic\n| \n    Sta...
Name: stars, Length: 9999, dtype: object

In [83]:
def get_stars(text):
    director = None
    stars = None
    if 'Director:' in text:
        director = text.split('Director:\n')[1].split('\n|')[0].strip()
    if 'Stars:' in text:
        stars = text.split('Stars:\n')[1].replace('\n','').strip()
    return director, stars

In [84]:
df[["director", "stars"]]  = df['stars'].apply(lambda item : pd.Series(get_stars(item)))
df['stars'] = df['stars'].apply(lambda x: x if x !=None else 'Unkonwn')
df['stars'].head()

0    Peri Baumeister, Carl Anton Koch, Alexander Sc...
1    Chris Wood, Sarah Michelle Gellar, Lena Headey...
2    Andrew Lincoln, Norman Reedus, Melissa McBride...
3    Justin Roiland, Chris Parnell, Spencer Grammer...
4    Matthias Schweighöfer, Nathalie Emmanuel, Ruby...
Name: stars, dtype: object

**votes**

In [86]:
df['votes']

0        21,062
1        17,870
2       885,805
3       414,849
4           NaN
         ...
9994        NaN
9995        NaN
9996        NaN
9997        NaN
9998        NaN
Name: votes, Length: 9999, dtype: object

In [87]:
df['votes'] = df['votes'].str.replace(',','').astype(float)

**runtime**

In [90]:
df['runtime']

0       121.0
1        25.0
2        44.0
3        23.0
4         NaN
        ...
9994      NaN
9995      NaN
9996      NaN
9997      NaN
9998      NaN
Name: runtime, Length: 9999, dtype: float64

**gross**

In [91]:
df['gross'].unique()

array([nan, '$75.47M', '$402.45M', '$89.22M', '$315.54M', '$57.01M',
       '$260.00M', '$132.38M', '$167.77M', '$404.52M', '$15.07M',
       '$70.10M', '$210.61M', '$327.48M', '$390.53M', '$303.00M',
       '$56.63M', '$58.06M', '$353.01M', '$46.89M', '$7.00M', '$377.85M',
       '$107.83M', '$403.71M', '$316.83M', '$100.55M', '$28.26M',
       '$188.76M', '$213.52M', '$226.01M', '$408.08M', '$10.06M',
       '$14.84M', '$168.05M', '$183.64M', '$342.55M', '$96.52M',
       '$140.22M', '$172.56M', '$56.95M', '$330.36M', '$17.80M', '$0.20M',
       '$56.82M', '$66.21M', '$75.61M', '$4.56M', '$106.58M', '$5.02M',
       '$22.68M', '$102.92M', '$110.52M', '$504.01M', '$26.86M', '$2.00M',
       '$32.73M', '$33.80M', '$400.74M', '$19.02M', '$36.26M', '$6.67M',
       '$45.51M', '$75.66M', '$0.33M', '$4.00M', '$20.16M', '$95.86M',
       '$176.48M', '$126.66M', '$80.10M', '$42.34M', '$0.04M', '$4.71M',
       '$117.72M', '$229.09M', '$33.70M', '$97.69M', '$21.15M', '$27.85M',
       '$25.02M', '$100.92M', '$0.80M', '$31.15M', '$143.53M', '$61.74M',
       '$33.40M', '$24.45M', '$125.10M', '$12.79M', '$2.38M', '$136.19M',
       '$101.03M', '$187.17M', '$158.35M', '$0.01M', '$34.02M', '$57.23M',
       '$63.69M', '$5.20M', '$1.23M', '$10.21M', '$51.69M', '$123.48M',
       '$60.46M', '$112.72M', '$73.10M', '$0.18M', '$152.90M', '$52.42M',
       '$77.22M', '$54.76M', '$21.36M', '$44.82M', '$37.77M', '$218.97M',
       '$486.30M', '$97.10M', '$18.34M', '$181.17M', '$0.10M', '$58.88M',
       '$80.04M', '$38.32M', '$29.21M', '$11.11M', '$65.08M', '$67.63M',
       '$89.30M', '$61.43M', '$59.65M', '$3.22M', '$81.90M', '$30.00M',
       '$1.11M', '$18.64M', '$148.73M', '$156.65M', '$103.37M', '$35.66M',
       '$8.55M', '$167.51M', '$12.63M', '$41.73M', '$41.23M', '$145.79M',
       '$17.61M', '$1.36M', '$51.44M', '$25.13M', '$20.05M', '$36.67M',
       '$26.83M', '$35.59M', '$15.50M', '$18.47M', '$58.01M', '$78.75M',
       '$93.74M', '$10.38M', '$10.51M', '$368.06M', '$234.91M', '$18.60M',
       '$89.26M', '$11.33M', '$101.20M', '$57.74M', '$24.15M', '$33.41M',
       '$85.02M', '$21.30M', '$4.36M', '$16.17M', '$0.23M', '$94.90M',
       '$0.03M', '$40.44M', '$15.09M', '$21.22M', '$32.02M', '$0.02M',
       '$47.06M', '$214.03M', '$77.04M', '$15.43M', '$28.21M', '$0.50M',
       '$12.05M', '$2.06M', '$44.14M', '$35.09M', '$1.94M', '$27.67M',
       '$79.37M', '$39.18M', '$139.85M', '$88.92M', '$30.58M', '$0.12M',
       '$10.88M', '$65.33M', '$1.21M', '$54.77M', '$32.94M', '$5.78M',
       '$17.14M', '$0.28M', '$42.87M', '$5.21M', '$4.40M', '$46.91M',
       '$0.08M', '$48.79M', '$15.54M', '$44.43M', '$57.39M', '$0.19M',
       '$19.70M', '$58.02M', '$66.53M', '$92.12M', '$64.94M', '$0.00M',
       '$6.74M', '$0.15M', '$42.40M', '$19.20M', '$35.07M', '$119.79M',
       '$27.15M', '$30.69M', '$2.24M', '$4.72M', '$90.29M', '$0.77M',
       '$0.51M', '$2.01M', '$14.90M', '$6.17M', '$1.00M', '$31.85M',
       '$37.66M', '$30.98M', '$13.75M', '$5.88M', '$37.71M', '$219.61M',
       '$4.54M', '$7.15M', '$15.01M', '$0.14M', '$1.51M', '$1.60M',
       '$1.34M', '$0.70M', '$26.18M', '$1.16M', '$5.70M', '$10.64M',
       '$2.68M', '$0.45M', '$1.04M', '$7.92M', '$20.28M', '$0.05M',
       '$8.06M', '$1.25M', '$45.02M', '$1.52M', '$28.35M', '$36.45M',
       '$1.08M', '$1.33M', '$3.90M', '$6.12M', '$43.04M', '$0.44M',
       '$16.85M', '$5.66M', '$0.81M', '$0.34M', '$4.70M', '$11.55M',
       '$5.93M', '$11.37M', '$0.09M', '$3.09M', '$49.77M', '$19.99M',
       '$12.41M', '$4.83M', '$0.31M', '$43.55M', '$2.47M', '$0.48M',
       '$0.26M', '$6.11M', '$0.76M', '$0.06M', '$0.30M', '$0.16M',
       '$0.83M', '$0.59M', '$16.00M', '$5.31M', '$11.96M', '$0.22M',
       '$0.54M', '$0.27M', '$0.11M', '$1.54M', '$3.03M', '$0.29M',
       '$1.01M', '$3.25M', '$0.41M', '$0.17M', '$0.62M', '$23.59M',
       '$25.58M', '$0.13M', '$0.87M', '$1.02M', '$0.56M', '$1.12M',
       '$0.85M', '$1.80M', '$0.21M', '$2.83M', '$32.24M', '$0.07M',
       '$0.24M', '$10.40M'], dtype=object)

In [92]:
def convert_gross(value):
  if pd.isna(value): #Check if the value is NaN
    return np.nan
  value = value.replace('$','').replace(',','')
  if 'M' in value:
    return float(value.replace('M', '')) * 1_000_000
  elif 'K' in value:
    return float(value.replace('K', '')) * 1_000
  return float(value)
# Apply the conversion function to the 'gross' column
df['gross'] = df['gross'].apply(convert_gross)

### Fill null values

In [93]:
# make backup
df_copy = df.copy()

In [94]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movies    9999 non-null   object
 1   year      9251 non-null   float64
 2   genre     9919 non-null   object
 3   rating    8179 non-null   float64
 4   one-line  9999 non-null   object
 5   stars     9999 non-null   object
 6   votes     8179 non-null   float64
 7   runtime   7041 non-null   float64
 8   gross     460 non-null    float64
 9   director  5356 non-null   object
dtypes: float64(5), object(5)
memory usage: 781.3+ KB

In [95]:
df_copy.isna().sum()

movies         0
year         748
genre         80
rating      1820
one-line       0
stars          0
votes       1820
runtime     2958
gross       9539
director    4643
dtype: int64

In [96]:
#year
df_copy['year'] = df_copy['year'].fillna(df_copy['year'].median())

0

In [97]:
#genre
df_copy['genre'] = df_copy['genre'].mode()[0]

In [98]:
#rating
df_copy['rating'] = df_copy['rating'].fillna(df_copy['rating'].median())

In [99]:
#votes
df_copy['votes'] = df_copy['votes'].fillna(df_copy['votes'].median())

In [100]:
#runtime
df_copy['runtime'] = df_copy['runtime'].fillna(df_copy['runtime'].median())

In [101]:
#gross
df_copy['gross'] = df_copy['gross'].fillna(0)

In [103]:
#director
df_copy['director'] = df_copy['director'].fillna('Unknown')

In [104]:
df_copy.isnull().sum()

movies      0
year        0
genre       0
rating      0
one-line    0
stars       0
votes       0
runtime     0
gross       0
director    0
dtype: int64